.posts{
    padding-top: 100px;
    margin: 0 3em;
    display: flex;
    height: 90%;
}

.posts_content{
    width: 50%;
    height: max-content;
    background-color: #222222;
    margin-top: 1em;
    /* margin-bottom: 2em; */
    display: flex;
    flex-direction: column;
    padding: 1em 1.5em;
}

.posts_title{
    display: flex;
    /* flex-direction: column; */
    justify-content: start;
    align-items: start;
    border-bottom: #808080 solid 2px;
    padding-bottom: 0.5em;
    width: 100%;
}

.posts_tit{
    display: flex;
    flex-direction: column;
}

.tit_top{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tit_top > img{
    width: 35px;
    height: 35px;
    border-radius: 10px;
    padding: 0.25em;
    border: white solid 1px;
}

.tit_main{
    font-size: 0.95em;
    margin-top:  0.5em;
    color: #ededed;
}

.tit_name{
    color: #9a9a9a;
    font-size: 0.8em;
    margin-left: 0.5em;
}

.tit_bottom{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.posts_posted{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.posted_time{
    color: #808080;
    font-size: small;
}

.posts_body{
    padding-top: 1em;
    color: #d0d0d0;
    font-size: 0.9em;
}

.likes{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0.5em;
}

.like{
    font-size: 2em;
}

.dislike{
    font-size: 2em;
}

.like:hover, .selected-like{
    color: #e6abff;
    cursor: pointer;
}

.dislike:hover, .selected-dislike{
    color: #6dc7ff;
    cursor: pointer;
}

.selected-likes{
    background-color: #808080;
}

.posts_comments{
    width: 50%;
    background-color: #222222;
    height: 100%;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-left: #808080 solid 1px;
    overflow: scroll;
    overflow-x: hidden;
}

.scroll-container::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #808080;
    border-radius: 5px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: #b5b5b5;
}

.scroll-container::-webkit-scrollbar-button {
    display: none;  
}

.posted_tag > span {
    color: #9a9a9a;
}

.posted_tag {
    text-transform:capitalize ;
    color: #e6abff;
}

.comment_title{
    text-align: center;
    font-size: larger;
    color: white;   
}

.comment_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #808080;
}

.first_comment{
    margin: 1em;
    text-align: center;
    background-color: #808080;
}

.com_body{
    display: flex;
    flex-direction: row;
    background-color: #383838;
    margin: 0.5em 0;
}

.top_username{
    color: #ededed;
}

.com_body > img {
    width: 40px;
    height: 40px;
    padding-left: 0.5em;
    padding-top: 0.5em;
}

.com_main{
    display: flex;
    flex-direction: column;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.com_top{
    display: flex;
    align-items: center;
}

.top_time{
    font-size: small;
    color: #808080;
    margin-left: 0.25em;
}

.com_comment{
    color: #b5b5b5;
    font-size: 0.85em;
}

.comment_p{
    margin-top: 2em;
    margin-bottom: 0;
}

.body_input{
    background-color: #383838;
    width: 100%;
    margin-bottom: 0;
}

.com_but{
    align-self: center;
    background-color: #383838;
    text-align: end;
    padding: 0.5em;
    cursor: pointer;
}

.options{
    display: flex;
    width: fit-content;
    align-items: center;
    margin-top: 1.5em;
}

.views, .share, .bookmark, .edit, .delete{
    display: flex;
    align-items: center;
    cursor: pointer;
    border: #808080 solid 1px;
    padding: 0.5em 1em 0.5em 1em;

}

.views:hover, .share:hover, .bookmark:hover, .edit:hover, .delete:hover{
    background-color: #808080;
}

.views{
    gap: 0.45em;
    border-radius: 10px 0 0 10px;
}

.share{
    border-radius: 0;
    border-left: none;
    border-right: none;
}

.edit{
    border-left: none;
}

.delete{
    border-radius: 0 10px 10px 0;
    border-left: none;
}

.modal{
    padding: 1em 3em;
    border: solid 2px;
    border-right-color: #6DC7FF;
    border-top-color: #E6ABFF;
    border-left-color: #E6ABFF;
    border-bottom-color: #6DC7FF;
    outline: none;
}

.modal1{
    width: fit-content;
    height: fit-content;
}

.createpost{
    font-size: x-large;
    border-bottom: solid 1px white;
  }

  .createpost1{
    font-size: x-large;
    border-bottom: solid 1px white;
    margin-bottom: 1em;
  }
  
  .title_input{
    background-color: #222222;
    color: #d0d0d0;
    border: none;
    outline: none;
    height: 20px;
    font-size: larger;
    padding: 0.5em 0.5em;
    font-weight: bold;
    margin-bottom: 1em;
    font-family: 'Poppins', sans-serif;
  }
  
  .tag_input{
    background-image: linear-gradient(to right, #6DC7FF, #E6ABFF);
    color: white;
    border: none;
    outline: none;
    height: 20px;
    border-radius: 20px;
    width: 25%;
    font-size: larger;
    padding: 0.5em 1em;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-top: 1em;
  }
  
  
  .body_input1{
    resize: none;
    background-color: #222222;
    color: #d0d0d0;
    border: none;
    outline: none;
    font-size: medium;
    padding: 0.5em 0.5em;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1em;
    box-sizing: border-box;
  }
  
  .tag_input::placeholder{
    color: white;
  }
  
  .title_input::placeholder, .body_input1::placeholder{
    color: #808080;
    font-family: 'Poppins', sans-serif;
  }
  
  .createbutton{
    display: flex;
    margin-top: 1em;
  }
  
  .submit, .close{
    margin: 0 0.5em 0 0.5em;
    padding: 0.5em;
    cursor: pointer;
    border: solid 1px;
  }

  .inputs{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 2em;
  }

.deletemodal{
    margin: 0 0.5em 0 0.5em;
    padding: 0.5em;
    cursor: pointer;
    border: solid 1px white;
    display: flex;
    align-items: center;
    width: 5em;
    justify-content: space-between;
    color: red;
}

