.profiles{
    padding-top: 100px;
    margin: 0 3em;
}

.sort{
    border: #808080 solid 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
}

.sort_title{
    display: flex;
}

.sort_name{
    background-color: #222222;
    margin-right: 1.5em;
    padding: 0.5em;
    border-radius: 10px;
    font-size: medium;
    cursor: pointer;
}
.swap_ver{
  font-variation-settings: 'FILL' 0,'wght' 300,'GRAD' 200,'opsz' 48;
  font-size: 2em;
  cursor: pointer;
}