.viewed{
    margin-left: 2em;
    background-color: #222222;
    padding: 0.5em 2em;
    height: min-content;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.viewed_title{
    font-size: large;
    /* width: 100%; */
    padding: 0 6em 1em 6em;
    text-align: center;
}

.viewed_body{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.viewed_titles{
    cursor: pointer;
    color: #9a9a9a;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0.5em 0;;
}

.viewed_titles:hover{
    text-decoration: underline;
}