body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: black;
  color: white;
}

body::-webkit-scrollbar {
  width: 12px;
  /* border-radius: 5px; */
  background-color: #383838;
}

body::-webkit-scrollbar-thumb {
  background-color: #666666;
  /* border-radius: 5px; */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #808080;
}

body::-webkit-scrollbar-button {
  display: none;
}


html {
  scroll-behavior: smooth;
}

::selection { background: #6DC7FF;color: white; }