.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  background-color: black;
  border-bottom: #808080 1px solid;
  position: fixed;
  width: 100%;
  overflow: hidden;
}

.title {
  padding-left: 5px;
  font-size: xx-large;
  font-weight: bold;
  color: white;
}

.nav_main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.box {
  width: 350px;
  height: 20px;
  background-color: #222222;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 0.5em;
}

.box > span {
  font-size: 20px;
  color: #808080;
}

.box > input {
  flex: 1;
  height: 20px;
  border: none;
  outline: none;
  background-color: #222222;
  font-size: 1em;
  padding-left: 10px;
  color: #d0d0d0;
}

.box > input::placeholder {
  color: #808080;
}

.profile {
  padding: 0.5em;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background-color: #222222;
  margin-right: 1em;
}

.profile_body {
  display: flex;
  align-items: center;
  margin-right: 2em;
}

.profile > div > img {
  width: 30px;
  height: 30px;
  padding-right: 10px;
  padding-left: 5px;
}

.profile_name {
  font-size: smaller;
}

.nav_foot{
  display: flex;
  flex-direction: row;
  color: white;
}

.nav_regis1{
  border-radius: 20px;
  padding: 0.5em 1em;
  background-image: linear-gradient(to bottom, #6DC7FF, #E6ABFF);
  cursor: pointer;
  margin-right: 1em;
  color: white;
}

.nav_sign{
  border-radius: 20px;
  padding: 0.5em 1em;
  cursor: pointer;
  border: #6DC7FF solid 2px;
  margin-right: 1em;
  color: white;
}

.nav_ghost{
  display: flex;
  justify-content: center;
  align-items: center;
  border: #E6ABFF solid 2px;
  border-radius: 20px;
  padding: 0 1em;
  margin-right: 1em;
  cursor: pointer;
}

.nav_ghost > img {
  width: 30px;
  height: 30px;
  padding-right: 10px;
}

/* #6DC7FF
#1A6DFF
#E6ABFF
#C822FF */