.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  background-color: black;
  border-bottom: #808080 1px solid;
  position: fixed;
  width: 100%;
  padding: 0.5em 0;
  z-index: 1;
}

.title {
  padding-left: 5px;
  font-size: xx-large;
  font-weight: bold;
  color: white;
}

.nav_main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.box {
  width: 350px;
  height: 20px;
  background-color: #222222;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 0.5em;
}

.box > span {
  font-size: 20px;
  color: #808080;
}

.box > input {
  flex: 1;
  height: 20px;
  background-color: #222222;
  font-size: 1em;
  padding-left: 10px;
  color: #d0d0d0;
  font-family: 'Poppins', sans-serif;
}

.box > input::placeholder {
  color: #808080;
  font-family: 'Poppins', sans-serif;
}

.profile {
  position: relative;
  padding: 0.5em;
  border-radius: 0px 30px 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background-color: #222222;
  margin-right: 1em;
  transition: border-radius 0.5s ease;
  transition: display 0.5s ease;
  z-index: 2;
}

.profile:hover {
  border-radius: 25px 25px 0 0;
}

.profile:hover .dropdown{
  display: block;
}

.profile_body {
  display: flex;
  align-items: center;
  margin-right: 3em;
}

.profile > div > img {
  /* width: 30px;
  height: 30px; */
  padding-right: 10px;
  padding-left: 5px;
}

.profile_name {
  font-size: medium;
}

.nav_foot{
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
}

.nav_regis1{
  border-radius: 20px;
  padding: 0.5em 1em;
  background-image: linear-gradient(to bottom, #6DC7FF, #E6ABFF);
  cursor: pointer;
  margin-right: 1em;
  color: white;
}

.nav_sign{
  border-radius: 20px;
  padding: 0.5em 1em;
  cursor: pointer;
  border: #6DC7FF solid 2px;
  margin-right: 1em;
  color: white;
}

.nav_ghost{
  display: flex;
  justify-content: center;
  align-items: center;
  border: #E6ABFF solid 2px;
  border-radius: 20px;
  padding: 0.25em 1em;
  margin-right: 1em;
  cursor: pointer;
}

.nav_ghost > img {
  width: 30px;
  height: 30px;
  padding-right: 10px;
}

.dropdown{
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: #222222;
  justify-content: center;
  align-items: center;
  display: none;
  width: 100%;
  border-top: solid 1px white;
}

.logout{
  padding: 1em 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  border-bottom: white solid 1px;
}

.profilebut{
  margin-right: 0.4em;
}

/* #6DC7FF
#1A6DFF
#E6ABFF
#C822FF */